$max-main-width: 1000px;

.container {
    max-width: $max-main-width;
}

#contact-info {
    padding-top: 20px;

    ul {
        list-style: none;
        padding-left: 0;
    }

}

#sidebar {
    h1 {
        text-align: center;
    }

    img {
        max-width: 360px;
    }
}


.pub {

    padding-bottom: 1em;

    .title {
        
        font-weight: 700;
    }

    .authors {
        .me{
            font-weight: 700;
        } 
    }

    .location {
        font-style: italic;
    }
}

h1 {
    font-size: 28px;
}
